{:definition {:id               :desede-is-deprecated
              :name             "Inadequate Encryption Strength"
              :shortDescription {:text "Triple DES (3DES or DESede) is considered deprecated. AES is the recommended cipher"}
              :fullDescription  {:text "Triple DES (3DES or DESede) is considered deprecated. AES is the recommended cipher"}
              :help             {:text "https://csrc.nist.gov/News/2017/Update-to-Current-Use-and-Deprecation-of-TDEA"}
              :properties       {:precision :high
                                 :tags      ["sensitive-data-exposure"]}}
 :patterns   [{:pattern   "(javax.crypto.Cipher/getInstance \"DESede/CBC/NoPadding\")"
               :includes? true}
              {:pattern   "(Cipher/getInstance \"DESede/CBC/NoPadding\")"
               :includes? true}]}