{:definition {:id               :md5
              :name             "Usage of MD5"
              :shortDescription {:text "Detected MD5 hash algorithm which is considered insecure. MD5 is not collision resistant and is therefore not suitable as a cryptographic signature."}
              :fullDescription  {:text "Detected MD5 hash algorithm which is considered insecure. MD5 is not collision resistant and is therefore not suitable as a cryptographic signature."}
              :help             {:text "Detected MD5 hash algorithm which is considered insecure. MD5 is not collision resistant and is therefore not suitable as a cryptographic signature."}
              :properties       {:precision :low
                                 :tags      ["misconfiguration"]}}
 :patterns   [{:pattern   "(MessageDigest/getInstance \"MD5\")"
               :includes? true}
              {:pattern   "(java.security.MessageDigest/getInstance \"MD5\")"
               :includes? true}]}