{:definition {:id               :read-string
              :name             "read-string serialization RCE"
              :shortDescription {:text "Usage of vulnerable function clojure.core/read-string"}
              :fullDescription  {:text "Attackers can exploit vulnerable deserialization functions which could lead to a remote code execution."}
              :help             {:text "Usage of vulnerable function clojure.core/read-string"}
              :properties       {:precision :high
                                 :tags      ["rce"]}}
 :patterns [{:function        read-string
             :namespace       clojure.core
             :check-required? true
             :includes? true
             :pattern         "($& $custom-function $&)"}]}